# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
*.dart.js
*.js.deps
*.js.map
*.info.json

# Android
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/app/google-services.json
**/android/app/google-services.json.akk
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/gradle-wrapper.jar
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/.last_build_id
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner/GoogleService-Info.plist
**/ios/Runner/GoogleService-Info.plist.akk
**/ios/firebase_app_id_file.json

# Firebase
**/firebase-debug.log
**/firebase-debug.*.log
**/firebase-export.json
**/.firebase/
**/.firebaserc
**/firebase.json
**/firestore.indexes.json
**/firestore.rules
**/storage.rules
**/firebase_options.dart.akk

# Windows
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift

# AKK Files
*.akk

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# IDEs
*.iml
*.ipr
*.iws
.idea/
.atom/
.buildlog/
.history
.metadata
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib

# VS Code (uncomment if you want to exclude)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
migrate_working_dir/

# Miscellaneous
*.class
*.pyc
*.swp
.svn/